<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Word Game</title>
  <link src="css/styles.css" rel="stylesheet" href="css/master.css">
</head>

<body>
  <div class="content">
    <header>
      <h1>Mystery Word</h1>
      <!-- placeholder div for guesses remaining -->
      <div id="guessesRemaining"></div>
    </header>

    <section id="word">

    </section>
    <form class="" action="index.html" method="post">
      <input type="text" name="" placeholder="Enter guess here">
      <button type="button" name="searchButton">Make a Guess</button>
    </form>
    <section>

    </section>

  </div>
</body>
<script src="main.js" type="text/javascript">
</script>

</html>
