<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Word Game</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <div class="headerSpace">
      <h1>Mystery Word</h1>
    </div>
  </header>

  <section id="word">
    {{#wordGuess}}
      {{.}}
    {{/wordGuess}}
  </section>

  <section id="input">
      <p id="winner">You Win!!!</p>
      <form class="reset" action="/reset" method="post">
        <button>Try again</button>
      </form>
  </section>

</body>

</html>
